In [13]:
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range (100)]

In [14]:
names = [name for name in names if len(name) == 2]
# names

In [15]:
import sqlite3
connection = sqlite3.connect("sample.db")

In [16]:
insert_query = 'INSERT INTO people(name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
	cursor.execute(insert_query, name)
connection.commit()

In [17]:
select_query = 'SELECT * FROM people LIMIT 10'
for i in cursor.execute(select_query):
	print(i)

(1, 'Stephanie', 'Coffey')
(2, 'Rachel', 'Hall')
(3, 'Jennifer', 'Romero')
(4, 'Tiffany', 'Price')
(5, 'Chelsea', 'White')
(6, 'Teresa', 'Jackson')
(7, 'Morgan', 'Bartlett')
(8, 'Randy', 'Cox')
(9, 'Diana', 'Thomas')
(10, 'Angela', 'Martinez')

OperationalError: no such table: spins