In [1]:
import sqlite3
connection = sqlite3.connect("sample.db")
cursor = connection.cursor()

In [16]:
query = "SELECT surname FROM people LIMIT 10"
count = 0
for result in cursor.execute(query):
	print(result[0])
	count += 1
	if count > 10:
		break

Coffey
Hall
Romero
Price
White
Jackson
Bartlett
Cox
Thomas
Martinez

In [27]:
query = 'SELECT name, surname FROM people WHERE name="James" LIMIT 15'
for result in cursor.execute(query):
	print(f"First name {result[0]}. Last name {result[1]}.")

First name James. Last name Jackson.
First name James. Last name Carpenter.
First name James. Last name Smith.

In [35]:
query = 'SELECT name, surname FROM people WHERE name LIKE "J%" ORDER BY name LIMIT 20'
for result in cursor.execute(query):
	print(f"First: {result[0]} | Last: {result[1]}.")

First: Jacob | Last: Mcclure.
First: James | Last: Jackson.
First: James | Last: Carpenter.
First: James | Last: Smith.
First: Jamie | Last: Gonzalez.
First: Janet | Last: Turner.
First: Janice | Last: Nguyen.
First: Jennifer | Last: Romero.
First: Jennifer | Last: Nguyen.
First: Jennifer | Last: Nguyen.
First: Jennifer | Last: Burton.
First: Jennifer | Last: Arnold.
First: Jesse | Last: Price.
First: Jesse | Last: Torres.
First: Jessica | Last: Lutz.
First: Jocelyn | Last: Watson.
First: Jody | Last: Holt.
First: Johnny | Last: Zimmerman.
First: Jordan | Last: Williams.
First: Jorge | Last: Williams.